brew 'bat'
brew 'ccache'
brew 'chezmoi'
brew 'clang-format'
brew 'cmake'
brew 'eza'
brew 'fzf'
brew 'git'
brew 'git-lfs'
brew 'htop'
brew 'lazygit'
brew 'ninja'
brew 'node'
brew 'npm'
brew 'nvim'
brew 'powerlevel10k'
brew 'ripgrep'
brew 'ruff'
brew 'tmux'
brew 'tpm'
brew 'watch'
brew 'zsh-autosuggestions'
brew 'zsh-fast-syntax-highlighting'

cask 'arc'
cask 'betterdisplay'
cask 'font-jetbrains-mono-nerd-font'
cask 'ghostty'
cask 'google-chrome'
cask 'karabiner-elements'
cask 'libreoffice'
cask 'logi-options+'
cask 'zoom'

{{ if eq .setup "work" }}
brew 'uv'
cask 'omnigraffle'
cask 'vscodium'
{{ end }}
